*{
	padding: 0px;
	margin: 0px;
}
/*body{
	background-color: #D6D5D5;
}*/
.head img{
	width:100%;
	height:120px;
}
/*导航*/
.nav{
 background-color: #065CA9;
 height: 40px;
 margin-top: -3px;

}

.nav ul{
	list-style-type: none;
	margin-left: 5%;
 

}
.nav li{
	float: left;
/*	margin: 10px;*/
	padding: 10px;
	border-left: 1px white solid;
}
.nav a{
	text-decoration: none;
	color:white;
}
#firstChild{
	border:none;
}
.nav a:hover{
	color:black;
}

/*嵌套*/
.wrap{
	width:80%;
	margin:0 auto;
	border:4px solid #D0CFCF;
	/*margin-top: 20px;*/
	height: 476px;
	border-bottom: none;
}



#footer{
/*	height: 20px;*/
    margin-top:430px;
	color: black;
	text-align: center;
/*	padding: 20px 0;*/

}